<script type="text/javascript" src="/products/Resources/dynamsoft.webtwain.config.js"></script>
<script type="text/javascript" src="/products/Resources/dynamsoft.webtwain.initiate.js"></script>

<% content_for :head do %>
  <%= javascript_pack_tag 'dwt', 'data-turbolinks-track': 'reload' %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>


<div id="dwtcontrolContainer" ></div>
<input id="scan" type="button" value="Scan" />

<hr />
<div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<script type="text/javascript">
  
</script>
